[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body {
  background-color: #121;
}
#terminal {
  background-color: #121;
  width:1000px;
  height: 600px;
  margin:40px auto;
  padding: 20px;
  font-size:22px;
  font-family: monospace;
  color:#393;
  overflow: auto;
}
#terminal-screen {
	width:650px;
	float:left;
}
#terminal-sidebar {
	width:350px;
	float:right;
}
#terminal-history {
	height:402px;
}
#terminal-head {
	margin-bottom: 20px;
}
#terminal pre, #terminal span {
  margin:0;
}
#terminal span {
  display: inline;
}

#terminal-left {
  width: 50%;
  float:left;
}
#terminal-right {
  width: 50%;
  float: right;
}
.data, .byte {
  display:inline;
}

.data.selected {
  color:#111;
  background-color: #393;
}

.hack {
    color: blue;
}